* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(234, 237, 237);
  font-family: "ROBOTO", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 1rem;
}

/*---------------------*/
/*------- NAVBAR ------*/
/*---------------------*/
.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0%;
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  margin: 0 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.contenedor-nav {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
}

.contenedor-enlaces {
  display: flex;
  align-items: center;
}
.contenedor-about {
  word-spacing: 2px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #000;
}
/*-------------------------------------*/
/*-------CONTENEDORES DE INFO ---------*/
/*-------------------------------------*/
.contenedor {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  font-size: 15px;
}

.contenedor-one {
  padding: 20px;
  background-color: rgb(52, 58, 64, 0.3);
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
}

.contenedor-about h3,
p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.contenedor-two {
  display: flex;
  align-content: center;
  margin-top: 10px;
  height: 55vh;
  border-radius: 2px;
}
.contenedor-article {
  margin: 10px 10px;
  width: 40%;
  height: 50vh;
}
.contenedor-article img {
  border-radius: 10px;
}

.subcontainer {
  width: 70%;
  height: 100%;
}
.contenedor-article2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  height: 20vh;
  font-size: 18px;
  background-color: rgb(52, 58, 64, 0.3);
  border: 1px solid;
  text-align: center;
}
.contenedor-article3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  height: 29vh;
  background-color: rgb(52, 58, 64, 0.3);
  border: 1px solid;
  text-align: center;
}
.contenedor-article3 h2 {
  list-style: none;
  font-size: 20px;
}
.contenedor-article3 ul li {
  list-style: none;
  font-size: 18px;
}
img {
  overflow-x: auto;
}

.contenedor-three {
  padding: 20px;
  background-color: rgb(52, 58, 64, 0.3);
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
}
/*-------------------------------------*/
/*--------- FOOTER --------------------*/
/*-------------------------------------*/

footer {
  width: 100%;
  height: 5vh;
  bottom: 0;
  background-color: rgba(125, 118, 118, 0.544);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: absolute;
}



@media only screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
  .contenedor-two {
    flex-direction: column;
    height: 100vh;

}
  .contenedor-about h3,
  p {
    font-size: 20px;
  }
  .contenedor-article {
    width: 95%;
    margin: auto;
  }
  .subcontainer {
    width: 90vw;
    height: 75%;
  }
  .contenedor-article2 {
    font-size: 12px;
  }
 
  .contenedor-article3 h2 {
    font-size: 15px;
  }
  .contenedor-article3 ul li {
    font-size: 15px;
  }
  footer{
    font-size: 13px;
  }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .contenedor-two {
    flex-direction: column;
    height: 100vh;
}

  .contenedor-about h3,
  p {
    font-size: 20px;
  }
  .contenedor-article {
    width: 95%;
    margin: auto;
  }
  .subcontainer {
    width: 90vw;
    height: 65%;
  }
  .contenedor-article2 {
    font-size: 15px;
  }
  .contenedor-article3{
    height: 22vh;
  }
  .contenedor-article3 h2 {
    font-size: 15px;
  }
  .contenedor-article3 ul li {
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 759px) {
 
  .contenedor-two {
    margin-bottom: 15px;
  }
  .contenedor-article {
    width: 80%;
  }
  .contenedor-article2 {
    font-size: 10px;
  }
  .contenedor-article3 h2 {
    font-size: 15px;
  }
  .contenedor-article3 ul li {
    font-size: 16px;
  }
}

@media only screen and (min-width: 759px) and (max-width: 959px) {
  .contenedor-two {
    margin-bottom: 15px;
  }
  .contenedor-article {
    width: 60%;
  }
  .contenedor-article2 {
    font-size: 12px;
  }
  .contenedor-article3 h2 {
    font-size: 15px;
  }
  .contenedor-article3 ul li {
    font-size: 16px;
  }
}
